h1{
    background-color: #4B52A2;
    text-align: center;
    padding: 30px;
    color: white;
}

div {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
  }

  img{
    width: 100%;
    border: 2px solid #4B52A2;
    border-radius: 10px;
  }

.one{
    width: 60%;
    margin-right: 30px;
}

.two{
    width: 30%;
}


body{
    background-color: #dfe2f9;
}

h1{
    font-family: "Nunito Sans";
}
h2{
    font-family: "Nunito Sans";
}
p{
    font-family: "Nunito Sans";
}
