:root{
    --main-color: #f5d7d7;
  }

body{
  background-color: #f5d7d716;
}

.nav.img{
    height: 292px;
    object-fit: fill;
    border-radius: 4px;
    width: 194.5px;
}

.nav.title{
    background-color: var(--main-color);
    padding: 4px;
    border-radius: 4px;
    color: white;
    text-align: center;
    margin-top: 4px;
    font-weight: 600;
    font-family: "gaegu";
    width: 200px;
    border: 5px solid var(--main-color);
    margin-left: 0px;
}

.title{
    border-left: 5px solid var(--main-color);
    font-family: "gamja flower";
    margin-left: 55px;
    padding-left: 10px;
}


.nav.container{
    justify-content: space-evenly;
    max-width: fit-content;
    display: flex;

  }

.nav.item{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 8px 2px rgba(0,0,0, 0.2);
  margin-left: 55px;
}

.nav.container :hover{
  border-radius: 4px;
  filter: grayscale(15%);
  box-shadow: 0 0 8px 2px rgba(0,0,0, 0.2);

}



