h1{
    background-color: #C78668;
    text-align: center;
    padding: 30px;
    color: white;
}

div {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
  }

  img{
    width: 100%;
    border: 2px solid #C78668;
    border-radius: 10px;
  }

.one{
    width: 60%;
    margin-right: 30px;
}

.two{
    width: 30%;
}

img{
    border: 2px solid #C78668;
}

body{
    background-color: #debbab;
}


h1{
  font-family: "Nunito Sans";
}
h2{
  font-family: "Nunito Sans";
}
p{
  font-family: "Nunito Sans";
}
